[submodule "external/arts"]
	path = external/arts
	url = git@github.com:johnpzh/ARTS.git
	branch = main
	shallow = true

[submodule "external/Polygeist"]
	path = external/Polygeist
	url = https://github.com/randreshg/Polygeist.git
	branch = carts
	shallow = true

[submodule "external/carts-benchmarks"]
	path = external/carts-benchmarks
	url = https://github.com/randreshg/carts-benchmarks.git
	branch = main
	shallow = true
